div{
display: flex;
flex-direction: row;
background: blue;
border-radius: 10px;
box-shadow: 5px 5px 5px rgb(90, 86, 86);
text-align: center;

}

.cajaimagen{
width: 90px;
border-radius: 0%;
box-shadow: none;
margin-left: 10px;
margin-top: 10px;

}
.cajatitulo{
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 0%;
    text-align: center;
    border-radius: 0%;
    box-shadow: none;

}
img{
    width: 80px;
}
h1{
    color: aquamarine;
}


